In [2]:
from functools import reduce
import os
import pandas as pd

In [34]:
cities = ['bj', 'ld']
particles = ["PM2.5", "PM10", "NO2", "CO", "SO2", "O3"]
meteros = ["temperature", "pressure", "humidity", "wind_direction", "wind_speed"]

In [35]:
data_aq_all = {}
data_metero_all = {}
for city in ['bj', 'ld']:
    city_aq_all = pd.DataFrame()
    city_meter_all = pd.DataFrame()
    if city == 'bj':
        files = os.listdir(r'./data/Beijing/post')
        for file in files:
            tmp = pd.read_csv(os.path.join(r'./data/Beijing/post', file), index_col=0)
            if any([p in file for p in particles]):
                city_aq_all = pd.concat([city_aq_all, tmp], ignore_index=True)
            else:
                city_meter_all = pd.concat([city_meter_all, tmp], ignore_index=True)
        assert any(city_aq_all.isnull().any(axis=1)) is False, 'There"s still missing data in {}_aq dataset'.format(city)
        assert any(city_meter_all.isnull().any(axis=1)) is False, 'There"s still missing data in {}_meter dataset'.format(city)

AssertionError: There"s still missing data in bj_aq dataset

In [30]:
test = pd.read_csv(r'./data/Beijing/post/bj_temperature_filled.csv', index_col=0)

In [31]:
test.shape

(12051, 35)

In [29]:
any(test.isnull().any(axis=1))

False

In [24]:
bj_all.head()

,0,1,2,3,4,5,6,7,8,9,...,375,376,377,378,379,380,381,382,383,384
2017-01-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.04,2.48,0.86,2.88,1.75,4.38,4.38,3.54,4.38,4.77
2017-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.84,3.03,1.62,2.71,1.90,3.90,3.90,3.32,3.90,4.13
2017-01-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.27,3.65,2.51,2.59,2.05,3.49,3.49,3.19,3.49,3.59
2017-01-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.95,4.29,3.43,2.51,2.21,3.17,3.17,3.16,3.17,3.18
2017-01-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.70,4.21,2.99,2.11,2.48,3.79,3.79,4.01,3.79,3.70

In [19]:
bj_all.isnull().any(axis=1)

2017-01-01 00:00:00     True
2017-01-01 01:00:00     True
2017-01-01 02:00:00     True
2017-01-01 03:00:00     True
2017-01-01 04:00:00     True
2017-01-01 05:00:00     True
2017-01-01 06:00:00     True
2017-01-01 07:00:00     True
2017-01-01 08:00:00     True
2017-01-01 09:00:00     True
2017-01-01 10:00:00     True
2017-01-01 11:00:00     True
2017-01-01 12:00:00     True
2017-01-01 13:00:00     True
2017-01-01 14:00:00    False
2017-01-01 15:00:00    False
2017-01-01 16:00:00    False
2017-01-01 17:00:00    False
2017-01-01 18:00:00    False
2017-01-01 19:00:00    False
2017-01-01 20:00:00    False
2017-01-01 21:00:00    False
2017-01-01 22:00:00    False
2017-01-01 23:00:00    False
2017-01-02 00:00:00    False
2017-01-02 01:00:00    False
2017-01-02 02:00:00    False
2017-01-02 03:00:00    False
2017-01-02 04:00:00    False
2017-01-02 05:00:00    False
                       ...
2018-05-16 21:00:00    False
2018-05-16 22:00:00    False
2018-05-16 23:00:00    False
2018-05-17 00:00:00    False
2018-05-17 01:00:00    False
2018-05-17 02:00:00    False
2018-05-17 03:00:00    False
2018-05-17 04:00:00    False
2018-05-17 05:00:00    False
2018-05-17 06:00:00    False
2018-05-17 07:00:00    False
2018-05-17 08:00:00    False
2018-05-17 09:00:00    False
2018-05-17 10:00:00    False
2018-05-17 11:00:00    False
2018-05-17 12:00:00    False
2018-05-17 13:00:00    False
2018-05-17 14:00:00    False
2018-05-17 15:00:00    False
2018-05-17 16:00:00    False
2018-05-17 17:00:00    False
2018-05-17 18:00:00    False
2018-05-17 19:00:00    False
2018-05-17 20:00:00    False
2018-05-17 21:00:00    False
2018-05-17 22:00:00    False
2018-05-17 23:00:00    False
2018-05-18 00:00:00    False
2018-05-18 01:00:00    False
2018-05-18 02:00:00     True
Length: 12051, dtype: bool